{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>Examen Parcial</title>
  </head>

  <body>
    <header class="header">
      <div class="container">
        {% if request.user.is_authenticated %}
        <span>Hola {{ request.user.username | title }}</span>

        <div class="menu_container">
          <a class="item_menu" href="{% url 'home' %}"><i class="bi bi-house-fill"></i> Inicio</a>
          <a class="item_menu" href="{% url 'user' %}"><i class="bi bi-person-bounding-box"></i> Mi Perfil</a>
          <a class="item_menu" href="{% url 'documentos' %}"><i class="bi bi-file-earmark-ruled-fill"></i> Tipo documento</a>
          <a class="item_menu" href="{% url 'seguros' %}"><i class="bi bi-file-earmark-minus-fill"></i> Tipos Seguro</a>
          <a class="item_menu" href="{% url 'pacientes' %}"><i class="bi bi-people-fill"></i> Pacientes</a>
          <a class="item_menu" href="{% url 'especialidades' %}"><i class="bi bi-file-medical-fill"></i> Especialidades</a>
          <a class="item_menu" href="{% url 'doctores' %}"><i class="bi bi-hospital-fill"></i> Doctores</a>
          <a class="item_menu" href="{% url 'citas' %}"><i class="bi bi-heart-pulse-fill"></i> Citas médicas</a>
        </div>
        <div>
          <a class="item_menu-logout" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i>Salir</a>
        {% else %}
          <span class="logo">RODY</span>
          <div class="auth">
            <a class="item_menu" href="{% url 'login' %}">Iniciar Sesión</a>
            <a class="item_menu" href="{% url 'registro' %}">Registrarse</a>
          </div>
        {% endif %}
        </div>
      </div>
    </header>
    <main class="main">
      <div class="container">
        {% if messages %}
          <div id="message-container" style="display: none;">
            <ul class="alert-message">
              {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {% block content %} {% endblock %}
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <p>
          &copy; Copyright {% now "Y" %} by
          <a href="https://rodyhuancas.netlify.app/">Rody Huancas</a>
        </p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const messageContainer = document.getElementById("message-container");
        const messages = messageContainer.getElementsByClassName("alert-message")[0].getElementsByTagName("li");

        if (messages.length > 0) {
          const messageText = messages[0].innerText;
          Swal.fire({
            icon: "success",
            title: messageText,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            toast: true,
            didOpen: (toast) => {
              toast.addEventListener("mouseenter", Swal.stopTimer);
              toast.addEventListener("mouseleave", Swal.resumeTimer);
            },
          });
        }
      });
    </script>
  </body>
</html>
