{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <title>Examen</title>
  </head>

  <body>
    <header class="header">
      <div class="container">
        {%if request.user.is_authenticated %}
        <span>Hola {{ request.user.username | title }}</span>

        <div class="menu_container">
          <a class="item_menu" href="{% url 'home' %}"><i class="bi bi-house-fill"></i> Inicio</a>
          <a class="item_menu" href="{% url 'documentos' %}"><i class="bi bi-file-earmark-ruled-fill"></i> Tipo documento</a>
          <a class="item_menu" href="{% url 'seguros' %}"><i class="bi bi-file-earmark-minus-fill"></i> Tipos Seguro</a>
          <a class="item_menu" href="{% url 'pacientes' %}"><i class="bi bi-people-fill"></i> Pacientes</a>
          <a class="item_menu" href="{% url 'especialidades' %}"><i class="bi bi-file-medical-fill"></i> Especialidades</a>
          <a class="item_menu" href="{% url 'doctores' %}"><i class="bi bi-hospital-fill"></i> Doctores</a>
          <a class="item_menu" href="{% url 'citas' %}"><i class="bi bi-heart-pulse-fill"></i> Citas médicas</a>
        </div>
        <div>
          <a class="item_menu-logout" href="{% url 'logout' %}"><i class="bi bi-box-arrow-right"></i>Salir</a>
          {%else%}
          <span class="logo">RODY</span>
          <div class="auth">
            <a class="item_menu" href="{% url 'login' %}">Iniciar Sesión</a>
            <a class="item_menu" href="{% url 'registro' %}">Registrarse</a>
          </div>
          {%endif%}
        </div>
      </div>
    </header>
    <main class="main">
       {% comment %} ALERTA {% endcomment %}
      {% comment %} <div id="message-container">
        {% if messages %}
          <ul class="alert-message">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div> {% endcomment %}
      {% comment %} FIN ALERTA {% endcomment %}
      <div class="container">{% block content %} {% endblock %}</div>
    </main>
    <footer class="footer">
      <div class="container">
        <p>
          &copy; Copyright {% now "Y" %} by
          <a href="https://rodyhuancas.netlify.app/">Rody Huancas</a>
        </p>
      </div>
    </footer>

    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
