{% extends 'base.html' %} {% block content %}
<form action="{% url 'documentos_crear' %}" method="POST">
  {% csrf_token %}
  <input
    type="text"
    name="tipo_documento_id"
    placeholder="Ingrese su numero de seguro"
  />
  <input
    type="text"
    name="tipo_documento_nombre"
    placeholder="Ingrese su nombre de seguro"
  />

  <button>Guardar</button>
</form>

{% for documento in documentos %}
<div>
  <h3>{{documento.tipo_documento_id}}</h3>
  <p>{{documento.tipo_documento_nombre}}</p>
  <form
    action="{% url 'delete_document' documento.tipo_documento_id %}"
    method="POST"
  >
    {% csrf_token %}
    <button>Eliminar</button>
  </form>
</div>
{% empty %}
<h2>No hay seguros</h2>
{% endfor %}
<!--  -->
{% endblock%}
