{% extends 'base.html' %} {% block content %}
<h3>PACIENTES</h3>
<form action="{% url 'pacientes_crear' %}" method="POST" class="form">
  {% csrf_token %}
  <!-- tipos de documento -->
  <select name="tipo_documento_id" class="form_input">
    {% for tipo_documento in tipos_documento %}
    <option value="{{ tipo_documento.tipo_documento_id }}">
      {{ tipo_documento.tipo_documento_nombre }}
    </option>
    {% endfor %}
  </select>
  <input
    type="number"
    name="nro_documento"
    placeholder="Ingrese su documento"
    class="form_input"
  />
  <input
    class="form_input"
    type="text"
    name="nombre"
    placeholder="Ingrese su nombre"
  />
  <input
    class="form_input"
    type="text"
    name="apellidos"
    placeholder="Ingrese su apellidos"
  />
  <input
    class="form_input"
    type="text"
    name="direccion"
    placeholder="Ingrese su direccion"
  />
  <input class="form_input" type="date" name="fecha_nacimiento" />
  <!-- tipos de seguro -->
  <select name="tipo_seguro_id" class="form_input">
    {% for tipo_seguro in tipos_seguros %}
    <option value="{{ tipo_seguro.tipo_seguro_id }}">
      {{ tipo_seguro.tipo_seguro_nombre }}
    </option>
    {% endfor %}
  </select>

  <button><i class="bi bi-save"></i> Guardar</button>
</form>

<h3 class="main_subtitle">Pacientes Registrados</h3>
<div class="main_grid">
  {% for paciente in pacientes %}
  <div class="main_card">
    <p>{{ paciente.tipo_documento_id.tipo_documento_nombre }}</p>
    <p>{{ paciente.id }}</p>
    <h3>{{ paciente.nombre }}</h3>
    <p>{{ paciente.apellidos }}</p>
    <p>{{ paciente.direccion }}</p>
    <p>{{ paciente.fecha_nacimiento }}</p>
    <p>{{ paciente.tipo_seguro_id.tipo_seguro_nombre }}</p>
    <p>{{ paciente.paciente_id.paciente_nombre }}</p>

    <div class="main_card-group">
      <form action="{% url 'delete_paciente' paciente.id %}" method="POST">
        {% csrf_token %}
        <button class="main_btn">Eliminar</button>
      </form>

      <a class="main_btn" href="{% url 'update_paciente' paciente.id %}"
        >Actualizar</a
      >
    </div>
  </div>
  {% empty %}
  <h2>No hay pacientes</h2>
  {% endfor %}
</div>
<!--  -->
{% endblock%}
