{% extends 'base.html' %} {% block content %}
<form
  action="{% url 'update_especialidad' especialidad.especialidad_id %}"
  method="POST"
  class="form"
>
  {% csrf_token %}
  <input
    type="number"
    name="especialidad_id"
    value="{{ especialidad.especialidad_id }}"
    placeholder="Ingrese su numero de especialidad"
    class="form_input"
  />
  <input
    type="text"
    name="especialidad_nombre"
    value="{{ especialidad.especialidad_nombre }}"
    placeholder="Ingrese su nombre de especialidad"
    class="form_input"
  />

  <button>Actualizar</button>
</form>
{% endblock %}
